.title {
  font-size: 4rem;
  margin: 0;
  margin-top: 2rem;
}
.titleLogo {
  max-width: 600px;
  max-height: 120px;
  margin: 0 auto;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.6));

}
.date {
  font-size: 2rem;
  /* margin: 1rem; */
  margin-bottom: 0;
  color: white;
}
.projectLink {
  margin: 1rem 0rem 2rem 0rem;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: color 1s ease;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  background-color: black;
  padding: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: block;
  width: 65%;
  margin: 0 auto;
  margin-top: 1rem;
  transition: color 1s ease;
  background-color: rgb(0, 41, 63);
  transition: transform 0.3s ease;
}
.projectLink:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.projectGrid {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.imageContainer {
  position: relative;
  border-radius: 20px;
  padding: 2 rem;
  height: 250px;
}
.textContainer {
  padding: 2rem;
  text-align: center;
  margin-left: 2rem;
  margin-top: 0rem;
}
.description {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: white;
}
.sectionContainer{
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  /* background-color: rgba(0, 92, 142, 0.245);
  background: white; */
}
.sectionContainer ul {
  list-style-type: none;
}
.sectionContainer li {
  margin-right: 40px;
}
.techLabel {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0;
  text-decoration: underline;
  padding-top: 0;
  margin-top: 1rem;
  color: white;
  text-decoration-color: rgb(0, 255, 166);
}
.techStack {
  font-size: 2rem;
  /* font-weight: bold; */
  display: inline block;
  color: white;
}
.video {
  width: 100%;
  height: 20vw;
  border-radius: 20px;
  margin-top: 2rem;
  /* padding-top: 50%; */
}

@media (max-width: 768px) {
  .projectContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 92%;
    background: rgba(255, 255, 255, .5);
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    min-width: 0px;
  }
  .projectContainer p {
    font-weight: bold;
  }
  .title {
    font-size: 8vw;
    margin: 0;
    margin-top: 2rem;
  }
  .date {
    font-size: 2rem;
    margin: 1rem;
    margin-bottom: 0;
  }
  .projectGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;
  }
  .projectLink {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: color 1s ease;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    background-color: black;
    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    transition: color 1s ease;
    background-color: rgb(0, 41, 63);
    transition: transform 0.3s ease;
  }
  .video {
    height: 50vw;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .sectionContainer{
    padding: 1vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(0, 92, 142, 0.245);
    padding: 3vw;
    width: 100%;
  }
  .sectionContainer ul {
    list-style-type: none;
  }
  .sectionContainer li {
    margin-right: 40px;
  }
  .techStack {
    font-weight: 200;
  }
}