.projectsContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
  height: auto;
  overflow-y: auto;
  width: 65%;
  background-color: black;
  background: rgba(255, 255, 255, .5);
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  min-width: 750px;
}
.projectsContainer h1 {
  color: black;
  font-size: 3.5rem;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.projectsContainer p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 2rem;
}
.projectsGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 3fr 1fr 3fr 1fr;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  padding: 0 1rem 0 1rem;

}
.projectsGridItem {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  /* margin-left: 1.5rem;
  margin-right: 1.5rem; */
  /* width: 90%; */
  margin: 0rem 1rem 0rem 1rem;


}
.projectsGridItem img {
  width: 500px;
  height: auto;
  object-fit: cover;
  position: relative;
  top: -30px;
}
.hoverMessage:hover .projectThumb img {
  filter: brightness(0.7);
}
.hoverMessage:hover .hoverText {
  display: block;
}
.hoverText {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  color: white;
  font-size: 1.75rem;
  text-align: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}
.hoverMessage:hover .hoverText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  cursor: pointer;
}
.link {
  position: relative;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 10;
  pointer-events: none;
}

@media (max-width: 768px) {
  .projectsContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    overflow-y: auto;
    width: 95%;
    max-width: 500px;
    background: rgba(255, 255, 255, .5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    min-width: 0px;
  }
  .projectsContainer h1 {
    color: black;
    font-size: 3.5rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .projectsContainer p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .projectsGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr ;
    object-fit: cover;
    width: 100%;
  }
  .projectsGridItem {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
    max-width: 350px;
    min-width: 250px;
    margin: 0 auto;
  }
  #stringSchoolThumb{
    grid-row: 1
  }
  #stringSchoolLabel{
    grid-row: 2
  }
  #parkwayThumb {
    grid-row: 3
  }
  #parkwayLabel{
    grid-row: 4
  }
  #songsmithThumb{
    grid-row: 5
  }
  #songsmithLabel{
    grid-row: 6
  }
  #atelierDesignThumb{
    grid-row: 7;
    border: solid-red-4px;
  }
  #atelierDesignLabel{
    grid-row: 8
  }
  #fitpassThumb{
    grid-row: 9
  }
  #fitpassLabel{
    grid-row: 10
  }
  #atelierApparelThumb{
    grid-row: 11
  }
  #atelierApparelLabel{
    grid-row: 12
  }
#portfolioThumb {
  grid-row: 13
}
#portfolioLabel{
  grid-row: 14
}

}