.connectContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow-y: auto;
  width: 65%;
  min-width: 800px;
  min-width: 500px;
  background-color: black;
  background: rgba(255, 255, 255, .5);
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  min-width: 1200px;
}
.connectContainer h1 {
  color: black;
  font-size: 4rem;
  margin: 0;
  margin: 2rem;
}
.connectContainer p {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin: 0rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.contactInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 50%;
  margin: 1rem 3rem 1rem 3rem;
  background-color: rgba(0, 92, 142, 0.245);
  border-radius: 30px;
  padding: 2rem;
}
.contactInfoContainer p {
  margin: 1rem;
}
.contactInfo {

}

