.projectsContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  overflow-y: auto;
  width: 65%;
  min-width: 800px;
  min-width: 500px;
  background: rgba(255, 255, 255, .5);
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  min-width: 1200px;
}
.projectsContainer h1 {
  color: black;
  font-size: 3.5rem;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.projectsContainer p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 2rem;
  /* outline: solid 1px black; */
}
.projectsGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 3fr 1fr;
  object-fit: cover;
  /* border: solid red 1px; */
  width: 100%;
}

.projectsGridItem {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 90%;
  min-width: 250px;

}
.projectsGridItem img {
  width: 500px;
  height: auto;
  object-fit: cover;
  position: relative;
  top: -30px;
}

.hoverMessage:hover .projectThumb img {
  filter: brightness(0.7);
}

.hoverMessage:hover .hoverText {
  display: block;
}

.hoverText {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  color: white;
  font-size: 1.75rem;
  text-align: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}

.hoverMessage:hover .hoverText {
  display: block;
  top: 0;
  left: 0;
  cursor: pointer;
}
.link {
  position: relative;
}
