/* .aboutContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  overflow-y: auto;
  width: 65%;
  min-width: 800px;
  min-width: 500px;
  background-color: black;
  background: rgba(255, 255, 255, .8);
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  min-width: 1200px;
}
.aboutContainer h1 {
  color: black;
  font-size: 4rem;
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.aboutContainer p {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0;

} */
.imageGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  align-items: center;
}
.meImageContainer {
  margin: 0;
}
.aboutImage {
  position: relative;
  width: 60%;
  height: auto;
  border-radius: 20px;
}
.ariaImage {
  width: 60%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}
.bioContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 3rem 1rem 3rem;
  background-color: rgba(0, 92, 142, 0.245);
  border-radius: 30px;
  padding: 2rem;
}
.bioContainer p {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 1rem;
}
@media (max-width: 768px) {
  .aboutContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    overflow-y: auto;
    width: 95%;
    background: rgba(255, 255, 255, .5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    min-width: 0px;
  }
  .bioContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: .5rem;
    background-color: rgba(0, 92, 142, 0.245);
    border-radius: 30px;
    padding: .5rem;
  }
  .bioContainer p {
    font-size: 1.25rem;

  }
  .aboutImage {
    margin-bottom: 1rem;
    width: 80%;

  }
  .ariaImage {
    width: 80%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
  }
}