.projectsContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
  height: auto;
  overflow-y: auto;
  width: 65%;
  background: rgba(255, 255, 255, .5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  min-width: 750px;
}
.titleWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2rem;
  overflow: visible;
}
.codeIcon {
  position: absolute;
  left: -9rem;
  margin: 0 2rem;
  font-size: 2rem;
  color: white;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  padding: 1rem;
  border: solid rgb(137, 247, 137) 2px;
  height: 50px;
  width: 50px;
}
.projectsHeader, .projectsSubheader {
  color: white;
}
.projectsHeader {
  text-decoration: underline;
  text-decoration-color: rgb(163, 252, 163);
  text-underline-offset: 5px;
}
.projectsSubheader {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.projectTitle {
  position: relative;
  font-size: 1.5rem;
  padding:.5rem;
  color: white;
}
.projectsContainer h1 {
  color: black;
  font-size: 3.5rem;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.projectsContainer p {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 2rem;
}
.projectsGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  gap: 2rem;
  overflow: visible;
}
.projectsGridItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  /* height: 300px; */
  height: fit-content;
  /* margin: 1rem 1rem 1rem 1rem; */
  overflow: visible;
  /* border: solid red 2px; */
}
.projectLink {
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.thumbnailWrapper {
  position: relative;
  width: 100%;
  cursor: pointer;
  aspect-ratio: 16 / 9;
  border: solid white 2px;
  transition: transform .3s ease;
}
.projectThumb {
  position: relative;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  position: relative;
  aspect-ratio: 16/9;
  /* border: solid 1px white; */
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.hoverMessage {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  color: white;
  padding: .5rem 1rem;
  pointer-events: none;
  /* border: solid yellow 2px; */
}

.hoverMessage:hover {
  opacity: 1;
  /* transition: opacity .3s ease; */
}
.thumbnailWrapper:hover .hoverMessage {
  opacity: 1;
}
.projectLink:hover .hoverMessage {
  opacity: 1;
  /* pointer-events: auto; */
}
.thumbnailWrapper:hover .projectThumb {
  filter: brightness(0.3) blur(2px);
}
.projectsGridItem:hover .thumbnailWrapper {
  transform: scale(1.05) !important;
}


.link {
  position: relative;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 10;
  pointer-events: none;
}
.projectStatus {
  margin: 0;
  padding: .25rem .75rem;
  font-size: 1rem !important;
  position: absolute;
  /* bottom: -2rem; */
  bottom: 2rem;
  right: 0;
  position: relative;
  z-index: 1;
  left: unset;
  color: white;
  width: fit-content;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(10px);
  /* border-bottom-right-radius: 20px; */
  /* border-top: solid white 1px;
  border-left: solid white 1px; */
  /* border: solid red 40px; */
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
  font-weight: 400;
}
.inProduction {
  color: rgb(255, 255, 255);
}
.inDevelopment {
  color: rgb(255, 255, 255);

}
.demoProject {
  color: white;
}

@media (max-width: 768px) {
  .projectsContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    overflow-y: auto;
    width: 95%;
    max-width: 500px;
    background: rgba(255, 255, 255, .5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    min-width: 0px;
  }
  .projectsContainer h1 {
    color: black;
    font-size: 3.5rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .projectsContainer p {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .projectsGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 12);
    object-fit: cover;
    width: 100%;
  }
  .projectsGridItem {
    /* border-radius: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
    max-width: 350px;
    min-width: 250px;
    margin: 0 auto;
  }
}