@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1.1;
  font-family: Josefin Sans;
  font-weight: 300;
}
a {
  text-decoration: none;
}
.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: linear-gradient(to bottom right, rgb(0, 156, 162), rgb(0, 33, 83));
  overflow-y: auto;
}

.pageContentContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
  height: auto;
  overflow-y: auto;
  width: 65%;
  /* background-color: black; */
  /* background: rgba(255, 255, 255, .8); */
  /* background: white; */
  border-radius: 30px;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
  min-width: 750px;
  font-size: 1.5rem;
  font-weight: normal;
}
.pageTitle {
  color: white;
  font-size: 3rem;
}
.whiteText {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}
.description {
  color: #1cfc84;
  font-size: 2rem;
  margin: 0;
}

/*---------------------------------
BACKGROUND RINGS - SIZES, THEN POSITION (LEFT, RIGHT, CENTER)
---------------------------------*/
.backgroundRing {
  display: flex;
  border-radius: 50%;
  background-color: black;
  transition: transform 1s ease, width 1s ease, height 1s ease, margin 1s ease, left 1s ease, top 1s ease, font-size 1s ease;
  position: fixed;
  transform: translateY(0);
  animation: pulsate 3s infinite;
  animation-name: pulsate;
  z-index: -1;
  filter: blur(5px);
}
.l {
  width: 5vw;
  height: 5vw;
}
.m {
  width: 3vw;
  height: 3vw;
  border-width: 3px;
}
.s {
  width: 1.5vw;
  height: 1.5vw;
  border-width: 1px;
}
.l1 {
  top: 22%;
  left: 10%;

}
.l2 {
  top: 65%;
  left: 14%;
}
.l3 {
  top: 85%;
  left: 5%;
}
.l4 {
  top:50%;
  left: 3%;
}
.c1 {
  top: 35%;
  left: 80%;
}
.c2 {
  top: 78%;
  left: 75%;
}
.c3 {
  top: 78%;
  left: 25%;
}
.c4 {
  top: 25%;
  left: 15%;
}
.c5 {
  top: 34%;
  left: 28%;
}
.r1 {
  top: 34%;
  left: 85%;
}
.r2 {
  top: 75%;
  left: 88%;
}
.r3 {
  top: 45%;
  left: 92%;
}
.r4 {
  top: 25%;
  left: 95%;
}
/*---------------------------------
ANIMATIONS
---------------------------------*/
@keyframes pulsate {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the vertical movement */
  }
}

@keyframes pulsateGreen {
  0% {box-shadow: 0 0 35px #00f38a;}
  50% { box-shadow: 0 0 130px #00f38a;}
  100% { box-shadow: 0 0 35px #00f38a; }
}

@keyframes pulsateRed {
  0% { box-shadow: 0 0 35px #ea005a; }
  50% { box-shadow: 0 0 150px #ea3700; }
  100% { box-shadow: 0 0 35px #ea005a; }
}

@keyframes pulsateBlue {
  0% { box-shadow: 0 0 35px #00ccff; }
  50% { box-shadow: 0 0 130px #00ccff; }
  100% { box-shadow: 0 0 35px #00ccff; }
}

@keyframes pulsateYellow {
  0% { box-shadow: 0 0 35px #ffc70f; }
  50% { box-shadow: 0 0 130px #ffc70f; }
  100% { box-shadow: 0 0 35px #ffc70f; }
}
.greenGlow {
  border: solid #00f38a;
  box-shadow: 0 0 35px #00f38a;
  animation: pulsateGreen 3s infinite, pulsate 5s infinite;
}
.blueGlow {
  border: solid #00ccff;
  box-shadow: 0 0 100px #004063;
  animation: pulsateBlue 3s infinite, pulsate 4s infinite;
}
.yellowGlow {
  border: solid #ffd000;
  box-shadow: 0 0 35px #ffc70f;
  animation: pulsateYellow 3s infinite, pulsate 6s infinite;
}
.redGlow {
  border: solid #fb0019;
  box-shadow: 0 0 100px #ea0027;
  animation: pulsateRed 3s infinite, pulsate 7s infinite;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: -1;
  pointer-events: none;
}


/*---------------------------------
MOBILE STYLING
----------------------------------*/
@media (max-width: 768px) {
    .pageContentContainer {
      margin: 0 auto;
      width: 95vw;
      min-width: 0;
      padding-bottom: 2rem;
      margin-bottom: 6rem;
      /* border: solid red 3px; */
    }
    .transitionContainer {
      width: 100vw;
    }
  .title {
    font-size: 10vw;
    letter-spacing: 2px;
  }
  .description {
    font-size: 5vw;
    margin-bottom: 1rem;
  }
  .backgroundRing {
    display: none;
  }
}