#home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75vh;
  position: relative; /* Add this line */
  background: linear-gradient(to bottom right, rgb(0, 156, 162), rgb(0, 33, 83));
}
.welcomeHeader {
  font-size: 3rem;
  color: white;
}
.introduction {
  color: white;
  font-size: 2rem;
  width: 100%;
  margin: 0;
  text-align: center;
  font-weight: 200;
}
.ring {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 3vw;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  background-color: black;
  transition: transform 1s ease, width 1s ease, height 1s ease, margin 1s ease;
}
.moveLeft {
  transform: translateX(-100%);
}

.moveRight {
  transform: translateX(100%);
}
.inactiveLeft, .inactiveRight, .activeRing {
  transform: scale(1); /* Resets any previous transform */
}
.activeRing {
  width: 30vw;
  height: 30vw;
}
.greenGlow {
  border: 4px solid #00f38a;
  box-shadow: 0 0 35px #00f38a;
  animation: pulsateGreen 3s infinite;
}
.blueGlow {
  border: 4px solid #00ccff;
  box-shadow: 0 0 100px #004063;
  animation: pulsateBlue 3s infinite;
}
.yellowGlow {
  border: 4px solid #ffd000;
  box-shadow: 0 0 35px #fffb0f;
  animation: pulsateYellow 3s infinite;
}
.redGlow {
  border: 4px solid #fb0019;
  box-shadow: 0 0 100px #ea0027;
  animation: pulsateRed 3s infinite;
}
.inactiveLeft {
  width: 15vw;
  height: 15vw;
  font-size: 1rem;
  margin-right: 7.5vw;  /* half the width */
  margin-left: -8vw;  /* negative width including half of its size */


}

.inactiveRight {
  width: 15vw;
  height: 15vw;
  font-size: 1rem;
  margin-left: 7.5vw;  /* half the width */
  margin-right: -7vw;  /* negative width including half of its size */
  /* transform: translateX(100%); */
}
.leftNav, .rightNav {
  position: absolute;    /* Use absolute positioning */
  top: 50%;              /* Center vertically */
  font-size: 8rem;
  color: white;
}
.leftNav {
  left: 18vw;   /* Position to the left */
}
.rightNav {
  right: 18vw;  /* Position to the right */
}
.ringHeader {

}
.ringText{

}

@keyframes pulsateGreen {
  0% {
      box-shadow: 0 0 35px #00f38a;
  }
  50% {
      box-shadow: 0 0 130px #00f38a;
  }
  100% {
      box-shadow: 0 0 35px #00f38a;
  }
}

@keyframes pulsateRed {
  0% {
      box-shadow: 0 0 35px #ea005a;
  }
  50% {
      box-shadow: 0 0 130px #ea005a;
  }
  100% {
      box-shadow: 0 0 35px #ea005a;
  }
}

@keyframes pulsateBlue {
  0% {
      box-shadow: 0 0 35px #00ccff;
  }
  50% {
      box-shadow: 0 0 130px #00ccff;
  }
  100% {
      box-shadow: 0 0 35px #00ccff;
  }
}

@keyframes pulsateYellow {
  0% {
      box-shadow: 0 0 35px #fffb0f;
  }
  50% {
      box-shadow: 0 0 130px #fffb0f;
  }
  100% {
      box-shadow: 0 0 35px #fffb0f;
  }
}