.headerContainer {
  display: fixed;
  position: relative;
  width: 100%;
  /* height: 15%; */
  min-height: 100px;
  background-color: rgba(17, 41, 63, 0.8);
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.headerLogo {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
}
.title {
  display: inline-block;
  font-size: 3rem;
  margin: 0 auto;
  padding-top: 1rem;
  color: white;
  font-weight: 100;
  letter-spacing: 15px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.description {
  background: linear-gradient(to right, #72ffc7, #b3ff61, rgb(89, 253, 204), rgb(195, 253, 195));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem
}

@media (max-width: 768px) {
  .headerContainer {
    display: fixed;
    padding-left: 6vw;
    padding-right: 6vw;
    width: 100%;
    /* height: 30vw; */
    /* min-height: 130px; */
    /* background-color: rgb(0, 0, 0); */
    overflow: hidden;
    }
  .title {
    font-size: 10vw;
    letter-spacing: 2px;
  }
  .description {
    font-size: 1rem;
  }
  }