.gallery {
  width: 100%;
  padding: 1rem;
  /* background: rgba(0, 0, 0, 0.3); */
  height: fit-content;
}

.mainImageContainer {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  /* border-radius: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid rgb(0, 0, 0) 1px; */
}
.mainImageContainer img {
  cursor: pointer;
}
.thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

}
.thumbnails img:hover {
  cursor: pointer;

}

.thumbnailContainer {
  position: relative;
  height: 120px;
  overflow: hidden;
  border: solid white 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
  /* border-radius: 8px; */
}
.thumbnailContainer:hover {
  transform: scale(.9);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  /* overflow: hidden; */
  max-width: 90vw;
  max-height: 70vh;
  box-sizing: border-box;
  width: 65vw;

  /* border-radius: 5px; */
}
.modalImage {
  border: solid white 6px;
  max-width: 100%; /* Ensure the image doesn't exceed the width of its container */
  max-height: 100%; /* Ensure the image doesn't exceed the height of its container */
  object-fit: contain;
}
.gallery button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.thumbnails.mobile {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 600px) {
  .mainImageContainer {
    height: 200px;
  }

  .thumbnailContainer {
    /* height: 80px; */
    aspect-ratio: 9 / 16;
    width: 100%;
    /* border-radius: 5px; */
    /* border: solid rgb(0, 46, 87) 3px; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

  }
}


